<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lln.agriculture.manage.mapper.logistics.LogisticsCompanyMapper">
    <resultMap id="BaseResultMap" type="com.lln.agriculture.common.domain.order.LogisticsCompany">
        <!--@mbg.generated-->
        <!--@Table logistics_company-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`
    </sql>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from logistics_company
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.lln.agriculture.common.domain.order.LogisticsCompany" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into logistics_company (`name`)
        values (#{name,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.lln.agriculture.common.domain.order.LogisticsCompany">
        <!--@mbg.generated-->
        update logistics_company
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectAllPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List">
        </include>
        from logistics_company
        <if test="_parameter != null and _parameter != ''">
            where id = #{key,jdbcType=VARCHAR}
               or name like '%${_parameter}%'
        </if>
    </select>

    <select id="logisticsCompanyExist" resultType="boolean">
        select count(*)
        from logistics_company
        where id = #{id}
    </select>
</mapper>