<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lln.agriculture.manage.mapper.item.SpuImgMapper">
    <resultMap id="BaseResultMap" type="com.lln.agriculture.common.domain.item.SpuImg">
        <!--@mbg.generated-->
        <!--@Table spu_img-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="spu_id" jdbcType="INTEGER" property="spuId"/>
        <result column="img" jdbcType="LONGVARCHAR" property="img"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, spu_id, img
    </sql>
    <insert id="insert" parameterType="com.lln.agriculture.common.domain.item.SpuImg" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into spu_img (spu_id, img)
        values (#{param1}, #{param2.img})
    </insert>

    <delete id="deleteImgBySpuId">
        delete
        from spu_img
        where spu_id = #{spuId}
    </delete>
</mapper>